[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/dmlc-core"]
	path = third_party/dmlc-core
	url = https://github.com/dmlc/dmlc-core.git
[submodule "third_party/ParMETIS"]
	path = third_party/ParMETIS
	url = https://github.com/KarypisLab/ParMETIS.git
[submodule "third_party/GKlib"]
	path = third_party/GKlib
	url = https://github.com/KarypisLab/GKlib.git
[submodule "third_party/METIS"]
	path = third_party/METIS
	url = https://github.com/KarypisLab/METIS.git
